# Set-baserad programmering

- Python, java, c# med mera är procedual språk
    - De beskriver hur något ska lösas
- Set-baserade språk (så som SQL) säger VAD som ska göras, men inte hur.
- Däremot i T-SQL så finns det sätt att skriva proceduellt.
- Vi snackar alltså om if-satser osv
- Används nästan aldrig då det är väldigt dåligt optimerat. Men kan vara använbart ibland.

Lite exempl syntax:

In [ ]:
-- if else

if exists (select 1 from people where id = @id)
begin
    print 'updating record';
    update people set name = @name where id = @id;
end
else
begin
    print 'inserting record';
    insert into people (id, name) values(@id, @name);
end;

In [ ]:
-- while

declare @count int = 0;
while @count <= 10
begin
    print 'Inserting row #' + convert(varchar, @count);
    insert into testdata (id, data) values(@count, 'test');
    set @count = @count + 1;
end

In [ ]:
-- cursors (fast_forward)

declare @id int;
declare @name varchar(100);

declare myCursor CURSOR FAST_FORWARD for select id, name from people;

open myCursor;

fetch next from myCursor into @id, @name;

while @@FETCH_STATUS = 0
Begin
    print convert(varchar, @id) + ' = ' + @name;
    fetch next from myCursor into @id, @name;
end;

close myCursor;
deallocate myCursor;

### Problemet med loopar i SQL

- När typ CRUD används så avgör SQL servern själv hur den ska hantera problemet på det effektivaste sättet. Det sker mycket under the hood.
- Om vi själva skriver hur så kan vi ovetandes göra en mycket sämre och mycket långsammare process.
- Syftet med relationsdatabaser är just att den ska kunna lösa mycket själv.

### Användbara fall

- Genereara rader genom en loop (Fredriks demo)
    - 50000 unika rader tog halva tiden om den kördes på serven istället för att skicka förfrågan till servern 50000 gånger.
    - MEN att köra server-side SET based är fortfarande myycket snabbare.

Hm, här slutade jag lyssna lite. Kolla om hans exempel. Tror kanske jag missförstod ovanstående.

### Lite serverbased set lösningar demo

(lägger den i /sql/3maj.sql)

### Sub-queries

(lägger den i /sql/3maj.sql)

### Vy (view)

(lägger den i /sql/3maj.sql)